
p{
	text-align : center;
}





.connexion_image {
	width: 120px;
	margin-right: 0;
	margin-top: 0;
	position:absolute;
	right: 8px;
	top: 8px;
}



.menu_haut_image {
	width: 50px;
	margin-right: 0;
	margin-left: 0;
	position:absolute;
	right:120px;
	top : 10px
}

.texte_menu_haut {
	text-decoration: none;
}

.gmail {
	position:absolute;
	right: 235px;
	top: 20px;
}

.image {
	position:absolute;
	right: 175px;
	top: 20px;
}

.texte_menu_haut:hover {
  text-decoration: underline;
}



.text_centre{
	margin-left: auto;
	margin-right: auto;
}




/*/////////////////////////////////////////////////image google ////////////////////////////////////////////////////////////////////////////*/

.google_image {
	width: 26%;
	/*display: block;
	margin-left: auto;
	margin-right: auto;
	padding: 6% 0;*/
	position: absolute;
	top: 10%;
	left: 37%;
	
	
}

.google_image_partage {
	width: 25px;
	position: absolute;
	top: 30%;
	left: 65%;
}

/*////////////////////////////////////////////////recherche google/////////////////////////////////////////////////////////////*/



.texte_recherche {
	width: 32%;
	height: 40px;
	position: absolute;
	top: 35%;
	left: 34%;
	border-radius: 40px;
}

.bp_recherche {
	width: 150px;
	height: 40px;
	position: absolute;
	top: 43%;
	left: 42%;
	border: 0px solid #f3f3f3;
  background-color: #f3f3f3;
  border-radius: 4px;
}

.bp_chance {
	width: 150px;
	height: 40px;
	position: absolute;
	top: 43%;
	left: 51%;
	border: 0px solid #f3f3f3;
  background-color: #f3f3f3;
  border-radius: 4px;
}

/*/////////////////////////////////////////////////////////geste barriere/////////////////////////////////////////////////*/

.geste_barriere_image {
	width: 40px;
	position: absolute;
	top: 52%;
	left: 40%;
}


.lien_corona {
	position: absolute;
	top: 53%;
	left: 43%;
}

.site_anglais {
	position: absolute;
	top: 60%;
	left: 44%;
}


.relative { position: relative;}
.absolu {position: absolute;}
.fixe {position: fixed;}






/*////////////////////////////////////////////////// menu bas /////////////////////////////////////*/

.bas2 {
	top:90%;
}

.bas {
	bottom : 0px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  border: 1px solid #e7e7e7;
  background-color: #f3f3f3;
  width : 99%;
}

li {
  float: left;
}

li a {
  display: block;
  color: #666;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  text-decoration: underline;
}

p a{
	text-decoration: none;
}

p a:hover{
	text-decoration: underline;
}

.active {
  color: white;
  background-color: #4CAF50;
}

